<!-- the following form code is for expanded topic -->
<div class="topic-content expanded">
  <div class="topic-header-form">
    <label for="topic-input-title-<%= topic.id %>">
      <div id="topic-label-title">
        <h3 class="topic-header">Τίτλος</h3>
        <p class="topic-creation-date"><%= topic.creationDate %></p>
      </div>
    </label>
    <input
      type="text"
      id="topic-input-title-<%= topic.id %>"
      class="topic-input-class"
      value="<%= topic.title %>"
      readonly
    />
  </div>

  <label for="topic-description-form-<%= topic.id %>" class="topic-desc-label">
    <h3 class="topic-header">Περιγραφή</h3>
  </label>
  <textarea id="topic-description-form-<%= topic.id %>" class="topic-description" readonly>
    <%= topic.description %>
</textarea>
  <div class="attachments">
    <label for="topic-attachments-<%= topic.id %>" class="attachment-label">
      <h3 class="topic-header-label">Αρχείο</h3>
    </label>
    <div class="file-upload-container">
      <input
        class="attachment-file"
        type="file"
        id="topic-attachments-<%= topic.id %>"
        accept=".pdf,.doc,.docx"
      />
    </div>
  </div>
  <div class="assignment">
    <label for="topic-assignment-<%= topic.id %>" class="assignment-label">
      <h3 class="topic-header-label">Ανάθεση</h3>
    </label>
    <button
      type="button"
      id="topic-assignment-<%= topic.id %>"
      class="assignment-button"
    >
      Ανάθεση Θέματος
    </button>
  </div>
  <div class="topic-actions">
    <button class="red-button" id="delete-topic-button-<%= topic.id %>">Διαγραφή</button>
    <button class="edit-button" id="edit-topic-button-<%= topic.id %>">Επεξεργασία</button>
  </div>
  <small class="collapse-indicator" id="collapse-button-<%= topic.id %>"
    >Κλικ για σύμπτυξη</small
  >
</div>
