<aside id="main-menu">
    <nav>
        <ul class="menu-list">
            <% if (locals.isAuth) { %>
                <li class="menu-item <%= currentPage === 'home' ? 'current' : '' %>">
                    <a href="/home">
                        <img class="menu-icon" src="/icons/homepage.png" alt="Home Icon">
                        <span class="menu-text">Αρχική</span>
                    </a>
                </li>

                <% if (locals.connectedUserRole === 'professor' || locals.connectedUserRole === 'student') { %>
                    <li class="menu-item <%= currentPage === 'topics' ? 'current' : '' %>">
                        <a href="/topics">
                            <img class="menu-icon" src="/icons/topics.png" alt="Available Topics Icon">
                            <span class="menu-text">Θέματα</span>
                        </a>
                    </li>
                <% } %>

                <% if(locals.connectedUserRole === 'secretary') { %>
                    <li class="menu-item <%= currentPage === 'users' ? 'current' : '' %>">
                        <a href="/users">
                            <img class="menu-icon" src="/icons/users_sec.png" alt="Users Icon">
                            <span class="menu-text">Χρήστες</span>
                        </a>
                    </li>
                <% } %>

                <% if (locals.connectedUserRole === 'student') { %>
                    <li class="menu-item <%= currentPage === 'thesis' ? 'current' : '' %>">
                        <a href="/thesis">
                            <img class="menu-icon" src="/icons/my_thesis.png" alt="My Thesis Icon">
                            <span class="menu-text">Διπλωματική</span>
                        </a>
                    </li>
                <% } %>

                <% if (locals.connectedUserRole === 'professor' || locals.connectedUserRole === 'secretary'){ %>
                    <li class="menu-item <%= currentPage === 'assignments' ? 'current' : '' %>">
                        <a href="/assignments">
                            <img class="menu-icon" src="/icons/assignments.png" alt="Assignments Icon">
                            <span class="menu-text">Αναθέσεις</span>
                        </a>
                    </li>
                <% } %>
                <% if (locals.connectedUserRole === 'professor') { %>
                    <li class="menu-item <%= currentPage === 'invitations' ? 'current' : '' %>">
                        <a href="/invitations">
                            <img class="menu-icon" src="/icons/invitations.png" alt="Invitations Icon">
                            <span class="menu-text">Προσκλήσεις</span>
                        </a>
                    </li>
                    <li class="menu-item <%= currentPage === 'stats' ? 'current' : '' %>">
                        <a href="/stats">
                            <img class="menu-icon" src="/icons/stats.png" alt="Statistics Icon">
                            <span class="menu-text">Στατιστικά</span>
                        </a>
                    </li>
                <% } %>

            <% } else { %>
                <li class="menu-item <%= currentPage === 'login' ? 'current' : '' %>">
                    <a href="/login">
                        <img class="menu-icon" src="/icons/login.png" alt="Login Icon">
                        <span class="menu-text">Είσοδος</span>
                    </a>
                </li>
            <% } %>
            <li class="menu-item <%= currentPage === 'announcements' ? 'current' : '' %>">
                <a href="/announcements">
                    <img class="menu-icon" src="/icons/announcements.png" alt="Announcements Icon">
                    <span class="menu-text">Ανακοινώσεις</span>
                </a>
            </li>
        </ul>
        <% if(locals.isAuth) { %>
            <div class="main-menu-user-info">
                <div class="user-pic-circle">
                    <a href="/profile" class="profile-link" title="Προφίλ">
                        <img src="<%= locals.connectedUserPhoto  %>" id="global-user-pic" alt="User Picture">
                    </a>

                </div>
                <div class="user-details">
                    <span class="user-name" id="global-user-name"><%= locals.connectedUserUsername %></span>
                    <span class="user-role">
                        <% if(locals.connectedUserRole === 'professor') { %>
                            Καθηγητής
                        <% } else if(locals.connectedUserRole === 'student') { %>
                            Φοιτητής
                        <% } else if(locals.connectedUserRole === 'secretary') { %>
                            Γραμματεία
                        <% } %>
                    </span>
                </div>
                <a href="/logout" class="logout-link" title="Αποσύνδεση">
                    <img src="/icons/logout.png" alt="Logout Icon">
                </a>
            </div>
        <% } %>
    </nav>

</aside>
