<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= pageTitle %> | upThesis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+Greek&display=swap"
            rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/assignment.css"/>
    <script src="/scripts/assignment.js" defer></script>
</head>
<body>
<%- include('includes/main-header') %>
<div class="layout">
    <%- include('includes/main-menu') %>
    <main>
        <% if (locals.connectedUserRole !== 'student') { %>
            <section class="back-section">
                <a href="/assignments">
                    <img
                            class="back-icon"
                            src="/icons/back_arrow.png"
                            alt="Back Icon"
                    />
                    <span class="back-icon-text">Πίσω στις Αναθέσεις</span>
                </a>
            </section>
        <% } %>
        <section id="assignment-detail">
            <div class="assignment-header">
                <div class="title-status-container">
                    <h2><%= thesis.title %></h2>
                    <p class="status-badge <%= thesis.status %>">
                        <% let statusText = ''; if (thesis.status) {
                            switch (thesis.status.toLowerCase()) {
                                case 'completed':
                                    statusText = 'Ολοκληρωμένη';
                                    break;
                                case 'active':
                                    statusText = 'Ενεργή';
                                    break;
                                case 'pending':
                                    statusText = 'Υπό-Ανάθεση';
                                    break;
                                case 'review':
                                    statusText = 'Υπό-Εξέταση';
                                    break;
                                case 'cancelled':
                                    statusText = 'Ακυρωμένη';
                                    break;
                                default:
                                    statusText = thesis.status;
                            }
                        } %>
                        <%= statusText %>
                    </p>
                </div>

                <%
                let showEvaluation = false;
                if (thesis.presentationDate) {
                    const _pres = new Date(thesis.presentationDate);
                    if (!isNaN(_pres) && _pres.getTime() <= Date.now()) {
                        showEvaluation = true;
                    }
                }
                let canCancel = false;
                if (thesis.assignmentDate) {
                    const _cancelProf = new Date(thesis.assignmentDate);
                    if (!isNaN(_cancelProf) && _cancelProf.getTime() <= Date.now()) {
                        canCancel = true;
                    }
                }
                %>

                <% if ( (thesis.status === 'pending' || thesis.status === 'active') && userThesisRole === 'supervisor'){ %>
                    <button class="cancel-button <%= canCancel ? 'enabled' : 'disabled' %>">
                        Ακύρωση Ανάθεσης
                    </button>
                <% } else if (thesis.status === 'pending' && userThesisRole === 'secretary' && thesis.professors.memberA.id && thesis.professors.memberB.id) { %>
                    <button class="standard-button">
                        Επίσημη Ανάθεση
                    </button>
                <% } else if (thesis.status === 'active' && userThesisRole === 'secretary') { %>
                    <button class="cancel-button enabled">
                        Ακύρωση Ανάθεσης
                    </button>
                <% } else if (thesis.status === 'review' && (userThesisRole === 'supervisor' || userThesisRole === 'student') && !showEvaluation ){ %>
                    <button class="standard-button">Παρουσίαση</button>
                <% } else if (thesis.status === 'review' && userThesisRole === 'secretary' && thesis.finalGrade && thesis.nemertesLink) { %>
                    <button class="accept-button">Ολοκλήρωση</button>
                <% } %>
            </div>

            <div class="assignment-detail-container" data-thesis-id="<%= thesis.id %>"
                 data-user-role="<%= userThesisRole %>">
                <ul class="sub-menu-assignment-details">
                    <li>
                        <a class="tab-link active" data-tab="info" href="#info">Πληροφορίες</a>
                    </li>
                    <% if (locals.connectedUserRole !== 'secretary') { %>
                        <% if(thesis.status === 'active' || thesis.status === 'review') { %>
                            <li>
                                <a class="tab-link" data-tab="notes" href="#notes">Σημειώσεις</a>
                            </li>
                            <% if (userThesisRole === 'supervisor' || userThesisRole === 'student') { %>
                                <li>
                                    <a class="tab-link" data-tab="meetings" href="#meetings">Συναντήσεις</a>
                                </li>
                            <% } %>
                            <li>
                                <a class="tab-link" data-tab="evaluation" href="#evaluation">Αξιολόγιση</a>
                            </li>

                            <% if (thesis.status === 'review') { %>
                                <li>
                                    <a class="tab-link" data-tab="protocol" href="#protocol">Πρακτικό</a>
                                </li>
                            <% } %>
                        <% } %>
                    <% } %>
                    <li>
                        <a class="tab-link" data-tab="timeline" href="#timeline">Χρονολόγιο</a>
                    </li>
                </ul>

                <div class="tab-content-area">
                    <div id="info" class="tab-content active">
                        <%- include('includes/assignment_tabs/info', { thesis: thesis, userThesisRole: userThesisRole }) %>
                    </div>
                    <% if (locals.connectedUserRole !== 'secretary') { %>
                        <% if(thesis.status === 'active' || thesis.status === 'review') { %>
                            <div id="notes" class="tab-content">
                                <%- include('includes/assignment_tabs/notes') %>
                            </div>
                            <% if (userThesisRole === 'supervisor' || userThesisRole === 'student') { %>
                                <div id="meetings" class="tab-content">
                                    <%- include('includes/assignment_tabs/meetings') %>
                                </div>
                            <% } %>
                            <div id="evaluation" class="tab-content ">
                                <%- include('includes/assignment_tabs/evaluation', { userThesisRole: userThesisRole, thesis: thesis, showEvaluation: showEvaluation}) %>
                            </div>
                            <% if (thesis.status === 'review' ) { %>
                                <div id="protocol" class="tab-content">
                                    <%- include('includes/assignment_tabs/grade_protocol', { thesis: thesis, userThesisRole: userThesisRole}) %>
                                </div>
                            <% } %>
                        <% } %>
                    <% } %>
                    <div id="timeline" class="tab-content">
                        <%- include('includes/assignment_tabs/timeline', { userThesisRole: userThesisRole, thesis: thesis}) %>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>
