<!DOCTYPE html>
<html lang="el">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %> | upThesis</title>

    <link rel="stylesheet" href="/styles/assignments.css" />
    <script type="module" src="/scripts/assignments.js" defer></script>
  </head>
  <body>
    <%- include('includes/main-header') %>
    <div class="layout">
      <%- include('includes/main-menu') %>
      <main>
        <%- include('includes/current-page-header', {currentPage: currentPage,
        pageTitle: pageTitle, assignmentsLenght: assignments.length}) %>
        <section class="assignments-content-section">
          <div class="assignments-content-container">
            <section class="assignments-actions">
              <input
                type="text"
                class="search-bar"
                id="search-theses"
                placeholder="Αναζήτηση Αναθέσεων... (Τίτλος, Φοιτητής, Περιγραφή)"
              />
              <div class="group-end">
                <button id="export-theses" class="standard-button">
                  Εξαγωγή
                </button>
                <img
                  class="filters-icon"
                  src="/icons/filters_icon.png"
                  alt="filters"
                />
              </div>
            </section>
            <section
              class="assignments-content"
              id="assignments-content-section"
              data-user-role="<%= locals.connectedUserRole %>"
            >
              <% if(assignments && assignments.length > 0) { %>
              <ul id="assignments-list">
                <% assignments.forEach(function(assignment) { %> <% function
                pendingBadgeSec() { if (locals.connectedUserRole === 'secretary'
                && assignment.pendingChanges) { return "pending"; } } %>
                <li class="thesis-item">
                  <div
                    class="thesis-item-collapsed <%= pendingBadgeSec() %>"
                    data-thesis-id="<%= assignment._id %>"
                  >
                    <div class="thesis-collapsed-header">
                      <h3 class="thesis-header"><%= assignment.title %></h3>
                      <div class="badges-group">
                        <%- include('includes/assignment-status-badge',
                        {assignment: assignment}) %> <%
                        if(locals.connectedUserRole === 'professor') { %>
                        <p class="info-badge">
                          <%= locals.connectedUserId ===
                          assignment.professors.supervisor.id.toString() ?
                          'Επιβλέπων' : 'Μέλος' %>
                        </p>
                        <% } %> <% if(locals.connectedUserRole === 'secretary'
                        && assignment.pendingChanges) { %>
                        <span
                          class="pending-change-badge"
                          title="Απαιτείται ενέργεια"
                          aria-hidden="true"
                          >!</span
                        >
                        <% } %>
                      </div>
                    </div>
                    <a
                      href="/assignment/<%= assignment._id %>"
                      class="expand-button"
                    >
                      Κλικ για άνοιγμα
                    </a>
                  </div>
                </li>
                <% }); %>
              </ul>

              <% } else { %>
              <p class="no-data">Δεν υπάρχουν αποτελέσματα.</p>
              <% } %>
            </section>
          </div>
          <%- include('includes/assignments_filters') %>
        </section>
      </main>
      <div class="modal-container" id="export-theses-modal">
        <div class="modal small">
          <div class="modal-header">
            <div class="modal-title">
              <p>Εξαγωγή Αναθέσεων</p>
              <button
                class="close-modal"
                id="close-export-modal-button"
                type="button"
              >
                &times;
              </button>
            </div>
          </div>
          <div class="modal-body">
            <p class="group-header">Επιλέξτε τη μορφή εξαγωγής</p>
            <div class="export-buttons-group">
              <button class="standard-button" id="export-csv-button">
                CSV
              </button>
              <button class="standard-button" id="export-json-button">
                JSON
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
