<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= pageTitle %> | upThesis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+Greek&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/assignments.css"/>
    <% if(locals.connectedUserRole === 'professor') { %>
        <script src="/scripts/assignments.js" defer></script>
    <% } %>
</head>
<body>
<%- include('includes/main-header') %>
<div class="layout">
    <%- include('includes/main-menu') %>
    <main>
        <%- include('includes/current-page-header', {currentPage: currentPage, pageTitle: pageTitle, assignmentsLenght: theses.length}) %>
        <section class="assignments-content-section">
            <div class="assignments-content-container">
                <% if(locals.connectedUserRole === 'professor') { %>
                    <section class="assignments-actions">
                        <input
                                type="text"
                                class="search-bar"
                                placeholder="Αναζήτηση Αναθέσεων..."
                        />
                        <div class="group-end">
                            <button id="export-theses" class="standard-button">Εξαγωγή</button>
                            <img class="filters-icon" src="/icons/filters_icon.png" alt="filters"/>
                        </div>
                    </section>
                <% } %>
                <section class="assignments-content">
                    <% if(theses && theses.length > 0) { %>
                        <ul id="assignments-list">
                            <% theses.forEach(function(thesisItem) { %>
                                <li class="thesis-item">
                                    <div class="thesis-item-collapsed" data-thesis-id="<%= thesisItem.id %>">
                                        <div class="thesis-collapsed-header">
                                            <h3 class="thesis-header">
                                                <%= thesisItem.title %>
                                            </h3>
                                            <div class="badges-group">
                                                <p class="status-badge <%= thesisItem.status %>">
                                                    <%
                                                        let statusText = '';
                                                        if (thesisItem.status) {
                                                            switch (thesisItem.status.toLowerCase()) {
                                                                case 'completed':
                                                                    statusText = 'Ολοκληρωμένη';
                                                                    break;
                                                                case 'active':
                                                                    statusText = 'Ενεργή';
                                                                    break;
                                                                case 'pending':
                                                                    statusText = 'Υπό-Ανάθεση';
                                                                    break;
                                                                case 'review':
                                                                    statusText = 'Υπό-Εξέταση';
                                                                    break;
                                                                case 'cancelled':
                                                                    statusText = 'Ακυρωμένη';
                                                                    break;
                                                                default:
                                                                    statusText = thesisItem.status;
                                                            }
                                                        }
                                                    %>
                                                    <%= statusText %>
                                                </p>
                                                <% if(locals.connectedUserRole === 'professor') { %>
                                                    <p class="info-badge"><%= locals.connectedUserId === thesisItem.professors.supervisor.id ? ' Επιβλέπων' : 'Μέλος' %></p>
                                                <% } %>
                                            </div>
                                        </div>
                                        <a href="/assignment/<%= thesisItem.id %>"
                                           class="expand-button">
                                            Κλικ για άνοιγμα
                                        </a>
                                    </div>
                                </li>
                            <% }); %>
                        </ul>

                    <% } else { %>
                        <p class="no-data">Δεν υπάρχουν αποτελέσματα.</p>
                    <% } %>
                </section>
            </div>
            <% if(locals.connectedUserRole === 'professor') { %>
                <%- include('professor/assignments_filters') %>
            <% } %>
        </section>
    </main>
</div>
</body>
</html>
