<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= pageTitle %> | UpThesis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+Greek&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/home.css"/>
    <script src="/scripts/date-picker.js" defer></script>
    <script src="/scripts/notifications.js" defer></script>
    <% if(locals.connectedUserRole === 'professor') { %>
        <link rel="stylesheet" href="/styles/professor-styles/dashboard_stats.css"/>
        <script src="/scripts/professor-scripts/dashboard_stats.js" defer></script>
    <% } %>
</head>
<body>
<%- include('includes/main-header') %>
<div class="layout">
    <%- include('includes/main-menu', {currentPage: currentPage}) %>
    <main>
        <%- include('includes/current-page-header', {currentPage: currentPage, pageTitle: pageTitle}) %>
        <% if(locals.connectedUserRole === 'professor') { %>
            <%- include('professor/dashboard_stats') %>
        <% } %>
        <section id="main-content">
            <div class="box-container">
                <div class="card-header">
                    <h2>Ειδοποιήσεις</h2>
                    <div class="button-group">
                        <button class="standard-button">Ανανέωση</button>
                        <button class="standard-button">Καθαρισμός</button>
                    </div>
                </div>
                <span class="line"></span>
                <div class="content-card-list">
                    <% if (notificationsList) { %>
                        <ul>
                            <% for (let i = 0; i < 10; i++) { %>
                                <li class="notification-item">
                                    <div class="notification-content collapsed">
                                        Αυτό είναι ένα παράδειγμα ειδοποίησης με περισσότερο
                                        περιεχόμενο που μπορεί να είναι πολύ μεγάλο για να
                                        εμφανιστεί σε μία γραμμή. Όταν το περιεχόμενο είναι πολύ
                                        μεγάλο, θα εμφανιστούν τρεις τελείες και μπορείτε να
                                        κάνετε κλικ για να το επεκτείνετε και να δείτε το πλήρες
                                        κείμενο. Αυτό είναι ένα παράδειγμα ειδοποίησης με
                                        περισσότερο περιεχόμενο που μπορεί να είναι πολύ μεγάλο
                                        για να εμφανιστεί σε μία γραμμή. Όταν το περιεχόμενο
                                        είναι πολύ μεγάλο, θα εμφανιστούν τρεις τελείες και
                                        μπορείτε να κάνετε κλικ για να το επεκτείνετε και να
                                        δείτε το πλήρες κείμενο.
                                    </div>
                                    <div class="notification-date">5λ</div>
                                </li>
                            <% } %>
                        </ul>
                    <% } else { %>
                        <p class="no-data " id="test">Δεν υπάρχουν νέες ειδοποιήσεις.</p>
                    <% } %>
                </div>
            </div>
            <div class="box-container">
                <div class="card-header">
                    <h2>Εκδηλώσεις</h2>
                    <input type="date" class="standard-button events-date-picker"/>
                </div>
                <span class="line"></span>
                <div class="content-card-list">
                    <p class="no-data">Δεν υπάρχουν εκδηλώσεις στις <span id="date-value">15/08/2025</span></p>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>
