<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= pageTitle %> | upThesis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+Greek&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/topics_new.css"/>
    <script src="/scripts/student_topics.js" defer></script>
</head>
<body>
<%- include('includes/main-header') %>
<div class="layout">
    <%- include('includes/main-menu') %>
    <main>
        <section id="page-title">
            <div id="page-title-container">
                <h2>Διαθέσιμα Θέματα</h2>
                <p>Υπάρχουν <%= topics ? topics.length : 0 %> διαθέσιμα θέματα ανεβασμένα.</p>
            </div>
        </section>
        <section id="topics-buttons">
            <input
                    type="text"
                    class="search-bar"
                    placeholder="Αναζήτηση Θεμάτων..."
            />
            <select class="sort-dropdown">
                <option value="date_created">Ημερομηνία Δημιουργίας</option>
                <option value="topic_title" selected>Τίτλος</option>
            </select>
        </section>
        <section id="topics-section">
            <% if(topics && topics.length > 0) { %>
                <ul>
                    <% topics.forEach(function(topic, index) { %>
                        <li class="topic-item">
                            <div class="topic-item-collapsed">
                                <div class="topic-collapsed-header">
                                    <h3 class="topic-header">
                                        <%= topic.title %>
                                    </h3>
                                    <p class="simple-badge"><%= topic.creationDate %></p>
                                </div>
                                <small class="expand-button">Κλικ για ανάπτυξη</small>
                            </div>
                            <%- include('includes/student_expanded_topic', {topic: topic}) %>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p class="no-topics-message">Δεν υπάρχουν διαθέσιμα θέματα.</p>
            <% } %>
        </section>
    </main>
</div>
</body>
</html>
