<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= pageTitle %> | upThesis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+Greek&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/student_thesis.css"/>
    <script src="/scripts/student_thesis_pages.js" defer></script>
</head>
<body>
<%- include('includes/main-header') %>
<div class="layout">
    <%- include('includes/main-menu') %>
    <main>
        <%- include('includes/current-page-header') %>
        <section id="assignment-detail">
            <div class="assignment-header">
                <div class="title-status-container">
                    <h2><%= topic.title %></h2>
                    <%- include('includes/topic_status', {topic:topic}) %>
                </div>
                <% if (topic.status === 'review' && !showEvaluation && (userThesisRole === 'supervisor' || userThesisRole === 'student')) { %>
                    <button class="presentation-button">Παρουσίαση</button>
                <% } %>
            </div>

            <div id="assignment-detail-container">
                <ul class="sub-menu-assignment-details">
                    <% if (topic.status === 'pending' || topic.status === 'completed'
                            || topic.status === 'cancelled') { %>
                        <li>
                            <a class="tab-link active" data-tab="info">Πληροφορίες</a>
                        </li>
                        <li><a class="tab-link" data-tab="timeline">Χρονολόγιο</a></li>
                    <% } else if (topic.status === 'active' || topic.status ===
                            'review') { %>
                        <li>
                            <a class="tab-link active" data-tab="info">Πληροφορίες</a>
                        </li>

                        <li>
                            <a class="tab-link" data-tab="notes">Σημειώσεις</a>
                        </li>
                        <li>
                            <a class="tab-link" data-tab="meetings">Συναντήσεις</a>
                        </li>
                        <li>
                            <a class="tab-link" data-tab="evaluation">Αξιολόγιση</a>
                        </li>
                        <% if (topic.status === 'review') { %>
                            <li>
                                <a class="tab-link" data-tab="protocol">Πρακτικό</a>
                            </li>
                        <% } %>
                        <li>
                            <a class="tab-link" data-tab="timeline">Χρονολόγιο</a>
                        </li>
                    <% } %>
                </ul>

                <div class="tab-content-area">
                    <div id="info" class="tab-content active">
                        <%- include('includes/assignment_tabs/info', { topic: topic }) %>
                    </div>

                    <% if (topic.status === 'active' || topic.status === 'review') { %>
                        <div id="notes" class="tab-content">
                            <%- include('includes/assignment_tabs/notes', { notes: resNotes }) %>
                        </div>
                        <div id="meetings" class="tab-content">
                            <%- include('includes/assignment_tabs/meetings', { professorMeetings: professorMeetings }) %>
                        </div>
                        <div id="evaluation" class="tab-content ">
                            <%- include('includes/assignment_tabs/evaluation', { topic: topic, showEvaluation: showEvaluation }) %>
                        </div>
                        <% if (topic.status === 'review') { %>
                            <div id="protocol" class="tab-content">
                                <%- include('includes/assignment_tabs/grade_protocol', { topic: topic, showEvaluation: showEvaluation, existsProtocol: false }) %>
                            </div>
                        <% } %>
                    <% } %>
                    <div id="timeline" class="tab-content">
                        <%- include('includes/assignment_tabs/timeline') %>
                    </div>
                </div>
            </div>
        </section>

    </main>
</div>
</body>
</html>
