<div class="invitation-item-expanded hidden">
    <div class="content-group">
        <div class="group-title-badges">
            <p class="group-header">Τίτλος</p>
            <div class="badges-group expanded">
                <p class="simple-badge">
                    <%= formatDate(invItem.createdAt) %>
                </p>
                <p class="status-badge <%= invItem.status %>"><%= invItem.status === 'pending' ? 'Εκκρεμής' : (invItem.status === 'rejected' ? 'Απορριφθείσα' : 'Αποδεκτή') %></p>
            </div>
        </div>
        <p class="group-value"><%= invItem.thesis.title %></p>
    </div>

    <div class="content-group">
        <p class="group-header">Περιγραφή</p>
        <p class="group-value"><%= invItem.thesis.description %></p>
    </div>

    <% if (invItem.thesis.filePath) { %>
        <div class="content-group">
            <p class="group-header">Συννημένο</p>
            <% const reqFileName = invItem.thesis.filePath.split('/').pop(); const reqFileExt = (reqFileName && reqFileName.includes('.') ? reqFileName.split('.').pop().toUpperCase() : ''); %>
            <p class="group-value">
                <a href="<%= invItem.thesis.filePath %>" target="_blank" class="attachment-link"
                   title="<%= reqFileName %>">
                    <span class="attachment-icon">📄</span>
                    <span class="name-content"><%= reqFileName %></span>
                    <span class="attachment-type"><%= reqFileExt %></span>
                </a>
            </p>

        </div>
    <% } %>

    <div class="content-group">
        <p class="group-header">Επιβλέπων</p>
        <p class="group-value"><%= invItem.thesis.supervisorFullName %></p>
    </div>

    <div class="content-group">
        <p class="group-header">Φοιτητής</p>
        <p class="group-value"><%= invItem.thesis.studentFullName %>, <%= invItem.thesis.studentIdNumber %></p>
    </div>

    <% if(invItem.status === 'pending') { %>
        <div class="pending-buttons">
            <button class="cancel-button" data-id="<%= invItem._id %>">Απόρριψη</button>
            <button class="accept-button" data-id="<%= invItem._id %>">Αποδοχή</button>
        </div>
    <% } %>
    <small class="collapse-button">Κλικ για σύμπηξη</small>
</div>