<%
function allGradesExist() {
    return thesis.gradesExists.supervisor && thesis.gradesExists.memberA && thesis.gradesExists.memberB;
}
%>
<div class="protocol-content">
    <p class="group-header">Πρακτικό Εξέτασης</p>
    <div class="protocol-container" data-load-protocol=<%= thesis.protocolExists ? 'true' : 'false' %>>
        <% if(!allGradesExist()) { %>
            <p class="no-data">
                Το πρακτικό εξέτασης θα εμφανιστεί μετά την οριστικοποίηση του των βαθμών.
            </p>
        <% } else { %>
            <div class="content-group">
                <p class="group-header">Φοιτητής</p>
                <p class="group-value"><%= thesis.student.fullName %></p>
            </div>
            <div class="content-group">
                <p class="group-header">Αρ. Μητρώου Φοιτητή</p>
                <p class="group-value"><%= thesis.student.idNumber %></p>
            </div>
            <div class="content-group">
                <label for="protocol-date-time" class="group-header" id="label-protocol-date-time">Ημερομηνία
                    και Ώρα<span
                            class="warning-message"></span></label>
                <input
                        type="text"
                        id="protocol-date-time"
                        placeholder="π.χ. 30/09/2025 14:30"
                        data-min-date="<%= new Date(thesis.presentationDate).toISOString() %>"
                        data-value=""
                />
            </div>

            <div class="content-group">
                <label for="protocol-place" id="label-protocol-place" class="group-header">Αίθουσα <span
                            class="warning-message"></span></label>
                <input
                        type="text"
                        id="protocol-place"
                />
            </div>

            <div class="content-group professors">
                <p class="group-header">Μέλη</p>
                <%
                    const membersMap = new Map();
                    if (thesis.professors.supervisor.fullName && thesis.professors.memberA.fullName, thesis.professors.memberB.fullName) {
                        membersMap.set(thesis.professors.supervisor.fullName, 'Επιβλέπων');
                        membersMap.set(thesis.professors.memberA.fullName, 'Μέλος');
                        membersMap.set(thesis.professors.memberB.fullName, 'Μέλος');

                    }
                    const sortedMembers = Array.from(membersMap.entries()).sort((a, b) => a[0].localeCompare(b[0], 'el', {sensitivity: 'base'}));
                %>
                <% if (sortedMembers.length === 0) { %>
                    <div class="info-member">
                        <p class="member-name">-</p>
                    </div>
                <% } else { %>
                    <% sortedMembers.forEach(([name, role]) => { %>
                        <div class="info-member">
                            <p class="member-name"><%= name %></p>
                            <p class="info-badge"><%= role %></p>
                        </div>
                    <% }) %>
                <% } %>
            </div>
            <div class="content-group">
                <p class="group-header">Αρ. Πρωτοκόλλου Ανάθεσης</p>
                <p class="group-value"><%= thesis.protocolNumberAssignment %></p>
            </div>

            <div class="content-group">
                <label for="protocol-tmp-grade" id="label-tmp-grade" class="group-header">Προτεινόμενος Βαθμός
                    <span
                            class="warning-message"></span></label>
                <input
                        type="number"
                        id="protocol-tmp-grade"
                        min="0"
                        max="10"
                        step="0.1"
                />
            </div>


            <div class="content-group">
                <label for="protocol-final-grade" id="label-final-grade" class="group-header">Τελικός Βαθμός
                    <span
                            class="warning-message"></span></label>
                <input
                        type="number"
                        id="protocol-final-grade"
                        min="0"
                        max="10"
                        step="0.1"
                />
            </div>

            <div class="grade-protocol-buttons-group">
                <button id="submit-protocol-button" type="submit" class="accept-button disabled">
                    Οριστικοποίηση
                </button>
            </div>
        <% } %>
    </div>
</div>
