<section class="info-content">
    <% if(thesis.status !== 'completed' && thesis.status !== 'cancelled') { %>
        <div class="content-group">
            <p class="group-header">Περιγραφή</p>
            <p class="group-value"><%= thesis.description || '-' %></p>
        </div>

        <% if(thesis.filePath) { %>
            <div class="content-group">
                <p class="group-header">Συνημμένο</p>
                <%
                    const reqFileName = thesis.filePath.split('/').pop();
                    const reqFileExt = (reqFileName && reqFileName.includes('.') ? reqFileName.split('.').pop().toUpperCase() : '');
                %>
                <p class="group-value">
                    <a href="<%= thesis.filePath %>" target="_blank" class="attachment-link" title="<%= reqFileName %>">
                        <span class="attachment-icon">📄</span>
                        <span class="name-content"><%= reqFileName %></span>
                        <span class="attachment-type"><%= reqFileExt %></span>
                    </a>
                </p>
            </div>
        <% } %>
    <% } %>

    <div class="content-group">
        <p class="group-header">Φοιτητής</p>
        <p class="group-value">
            <%= thesis.student?.fullName || '-' %>, <%= thesis.student?.idNumber || '-' %>
        </p>
    </div>

    <div class="content-group">
        <p class="group-header">Μέλη</p>
        <div class="info-member">
            <p class="supervisor"><%= thesis.professors?.supervisor?.fullName || '-' %></p>
            <p class="info-badge">Επιβλέπων</p>
        </div>
        <div class="info-member">
            <p class="member-a"><%= thesis.professors?.memberA?.fullName || '-' %></p>
            <p class="info-badge">Μέλος</p>
        </div>
        <div class="info-member">
            <p class="member-b"><%= thesis.professors?.memberB?.fullName || '-' %></p>
            <p class="info-badge">Μέλος</p>
        </div>
    </div>



    <% if (thesis.status !== 'pending') { %>
        <% if(thesis.protocolNumberAssignment) { %>
            <div class="content-group">
                <p class="group-header">Αρ. Πρωτοκόλλου Ανάθεσης</p>
                <p class="group-value"><%= thesis.protocolNumberAssignment || '-' %></p>
            </div>
        <% } %>

        <% if(thesis.status === 'cancelled') { %>
            <div class="content-group">
                <p class="group-header">Αρ. Πρωτοκόλλου Ακύρωσης</p>
                <p class="group-value"><%= thesis.protocolNumberCancelled || '-' %></p>
            </div>
            <div class="content-group">
                <p class="group-header">Αιτιολογία Ακύρωσης</p>
                <p class="group-value"><%= thesis.reasonForCancellation || '-' %></p>
            </div>
        <% } %>

        <% if(!thesis.completedDate && !thesis.cancelledDate && thesis.officialAssignmentDate) { %>
            <div class="content-group">
                <p class="group-header">Χρόνος Επίσημης Ανάθεσης</p>
                <p class="group-value"><%= humanAssignmentDuration(thesis.officialAssignmentDate) %></p>
            </div>
        <% } else if (thesis.completedDate) { %>
            <div class="content-group">
                <p class="group-header">Χρόνος ολοκλήρωσης</p>
                <p class="group-value"><%= humanAssignmentDuration(thesis.officialAssignmentDate, thesis.completedDate) %></p>
            </div>
        <% } else if (thesis.cancelledDate) { %>
            <div class="content-group">
                <p class="group-header">Χρόνος Περάτωσης</p>
                <p class="group-value"><%= humanAssignmentDuration(thesis.officialAssignmentDate, thesis.cancelledDate) %></p>
            </div>
        <% } %>

        <% if(thesis.finalGrade) { %>
            <div class="content-group">
                <p class="group-header">Τελικός Βαθμός</p>
                <p class="group-value"><%= thesis.finalGrade %></p>
            </div>
        <% } %>

        <% if(thesis.protocolExists) { %>
            <div class="content-group">
                <p class="group-header">Πρακτικό Εξέτασης</p>
                <p class="group-value">
                    <a href="/protocol/<%= thesis._id %>" class="attachment-link" target="_blank">
                        <span class="attachment-icon" title="Link">📎</span>
                        <span class="name-content">Πρακτικό</span>
                        <span class="attachment-type">LINK</span>
                    </a>
                </p>
            </div>
        <% } %>

        <% if(thesis.nemertesLink) { %>
            <div class="content-group">
                <p class="group-header">Νημέρτης Αποθετήριο</p>
                <p class="group-value">
                    <a href="<%= normalizeUrl(thesis.nemertesLink) %>" class="attachment-link" target="_blank">
                        <span class="attachment-icon" title="Link">📎</span>
                        <span class="name-content">Νημέρτης</span>
                        <span class="attachment-type">LINK</span>
                    </a>
                </p>
            </div>
        <% } %>
    <% } %>
</section>
